@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Golos+Text:wght@400..900&display=swap');

:root {
    --dark-black: #000014;
    --dark-blue: #000018;
    --medium-blue: #001941;
    --coral-blue: #9AC8CD;
    --dcoral-blue:rgb(0, 106, 117);
    --bwhite: #E1F7F5;
    --orange: #FF9156;
    --gray: #616161;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    color: var(--bwhite);
    font-family: "Golos Text", sans-serif;
    background-color: var(--dark-blue);
}

h1,
h2,
h3 {
    font-family: "Geologica", sans-serif;
}

p {
    font-family: "Golos Text", sans-serif;
}

.blog-item a:hover,
a:hover {
    text-shadow: 3px 3px 30px var(--coral-blue);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.hero h1 {
    font-size: 3rem;
    color: var(--coral-blue);
    text-align: center;
    text-shadow: 3px 3px 50px var(--coral-blue);
}

header {
    position: absolute;
    width: 100%;
}

nav {
    padding: 10px;
    background-color: var(--dark-black);
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

nav ul li a {
    font-family: "Geologica", sans-serif;
    text-decoration: none;
    text-align: center;
    color: var(--coral-blue);
    margin: 0;
    font-size: 1.25rem;
} 

.intro {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--dcoral-blue);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.LightWaves {
    position: relative;
    top: 100%;
    animation: lightwaves 2s infinite;
}
  
@keyframes lightwaves {
    0%,100% { transform: translate(0,0); }
    25%     { transform: translate(5px,5px); transform: scale(1.05); }
    50%     { transform: translate(25px, 5px); }
    75%     { transform: translate(12px,10px); transform: scale(1.05); }
}

.DarkWaves {
    position: relative;
    top: 0;
    animation: darkwaves 3.8s infinite;
}

@keyframes darkwaves {
    0%,100% { transform: translate(0,0); }
    25%     { transform: translate(25px, 5px); transform: scale(1.05); }
    50%     { transform: translate(12px,10px); }
    75%     { transform: translate(5px,5px); }
}

.intro h2 {
    margin-right: 125px;
}

.intro p {
    width: 50%;
    text-indent: 55px;
    font-size: 1.1rem;
}

.rtl-card {
    background-color: var(--medium-blue);
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
}

.rtl-card h2 {
    font-size: 2rem;
    margin-right: 25px;
    width: 200px;
    text-align: left;
}

.rtl-card img {
    width: 800px;
    height: 400px;
}

footer {
    width: 100%;
    background-color: var(--medium-blue);
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

footer * {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
}

.blogposts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 1500px;
}

.blog-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 500px;
}

.blog-item a {
    color: var(--orange);
    text-decoration: none;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: var(--medium-blue);
}

.post-secondary,
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 70%;
    align-self: center;
}

.date {
    text-decoration: underline;
    width: 100%;
}

.blog-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
}

.blog-body img {
    width: 50%;
}

.blog-body h3,
.blog-body h2,
.blog-body ul,
.blog-body p {
    width: 100%;
}

.project {
    width: 100%;
}

.aboutme-hero,
.blog-hero {
    height: 400px;
}

.container a:hover {
    text-decoration: underline;
}

.container a {
    color: var(--orange);
    text-decoration: none;
    align-self: flex-start;
}

.container hr {
    width: 100%;
    border: 1px solid var(--orange);
}

#shark {
    position: absolute;
    width: 50%;
    top: 60%;
    animation: shark 25s linear infinite;
    opacity: 0.6;
}

#fish {
    position: absolute;
    width: 20%;
    top: 13%;
    animation: fish 25s linear infinite;
    opacity: 0.6;
}

#anglerfish {
    position: absolute;
    width: 10%;
    top: 38%;
    animation: shark 20s linear infinite;
    opacity: 0.6;
}

@keyframes shark
{
    from {
        right: -600px;
    }
    to {
        right: 99%;
    }
}

@keyframes fish
{
    from {
        left: -600px;
    }
    to {
        left: 99%;
    }
}