@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Golos+Text:wght@400..900&display=swap');

:root {
    --dark-black: #000014;
    --dark-blue: #000018;
    --medium-blue: #001941;
    --coral-blue: #9AC8CD;
    --dcoral-blue:rgb(0, 37, 117);
    --bwhite: #E1F7F5;
    --orange: #FF9156;
    --gray: #616161;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    color: var(--bwhite);
    font-family: "Golos Text", sans-serif;
    background-color: var(--dark-blue);
}

h1,
h2,
h3 {
    font-family: "Geologica", sans-serif;
}

p {
    font-family: "Golos Text", sans-serif;
}

.blog-item a:hover,
a:hover {
    text-shadow: 3px 3px 30px var(--coral-blue);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.hero h1 {
    font-size: 3rem;
    color: var(--coral-blue);
    text-align: center;
    text-shadow: 3px 3px 50px var(--coral-blue);
}

header {
    position: absolute;
    width: 100%;
}

nav {
    padding: 10px;
    background-color: var(--dark-black);
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

nav ul li a {
    font-family: "Geologica", sans-serif;
    text-decoration: none;
    text-align: center;
    color: var(--coral-blue);
    margin: 0;
    font-size: 1.25rem;
} 

.intro {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--dcoral-blue);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.waveAnimation {
    width: 100%;
    height: 25px;
    overflow: hidden;
    position: relative;
}

.waveAnimation svg {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0; /* or top: 0 depending on wave position */
}
.w1 {
    stroke: none;
    fill: var(--dcoral-blue);
    animation: move1 5s ease-in-out infinite;
}

.w2 {
    stroke: none;
    fill: var(--dcoral-blue);
    transform: translate3d(0, 0, 0);
    animation: move2 4s ease-in-out infinite;
}

.w3 {
    stroke: none;
    fill: var(--dcoral-blue);
    transform: translate3d(0, 0, 0);
    animation: move3 6s ease-in-out infinite;
}

@keyframes move1 {
    0% {
        transform: translateX(-500px) scaleX(2.5);
    }

    25% {
        transform: translateX(-100) scaleX(2.5);
    }

    50% {
        transform: translateX(0) scaleX(2.5);
    }

    75% {
        transform: translateX(-100) scaleX(2.5);
    }

    100% {
        transform: translateX(-500px) scaleX(2.5);
    }
}

@keyframes move2 {
    0% {
        transform: translateX(-600px) scaleX(3);
    }

    25% {
        transform: translateX(-100) scaleX(2.5);
    }

    50% {
        transform: translateX(0) scaleX(3);
    }

    75% {
        transform: translateX(-100) scaleX(2.5);
    }

    100% {
        transform: translateX(-600px) scaleX(3);
    }
}

@keyframes move3 {
    0% {
        transform: translateX(-800px) scaleX(3);
    }

    25% {
        transform: translateX(-100) scaleX(2.5);
    }

    50% {
        transform: translateX(0) scaleX(3);
    }

    75% {
        transform: translateX(-100) scaleX(2.5);
    }

    100% {
        transform: translateX(-800px) scaleX(3);
    }
}
.intro h2 {
    margin-right: 125px;
}

.intro p {
    width: 50%;
    text-indent: 55px;
    font-size: 1.1rem;
}

.rtl-card {
    background-color: var(--dcoral-blue);
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
}

.rtl-card h2 {
    font-size: 2rem;
    margin-right: 25px;
    width: 200px;
    text-align: left;
}

.rtl-card img {
    width: 800px;
    height: 400px;
}

footer {
    width: 100%;
    background-color: var(--dcoral-blue);
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

footer * {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
}

.blogposts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 1500px;
}

.blog-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 500px;
}

.blog-item a {
    color: var(--orange);
    text-decoration: none;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: var(--medium-blue);
}

.post-secondary,
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 70%;
    align-self: center;
}

.date {
    text-decoration: underline;
    width: 100%;
}

.blog-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
}

.blog-body img {
    width: 50%;
}

.blog-body h3,
.blog-body h2,
.blog-body ul,
.blog-body p {
    width: 100%;
}

.project {
    width: 100%;
}

.aboutme-hero,
.blog-hero {
    height: 400px;
}

.container a:hover {
    text-decoration: underline;
}

.container a {
    color: var(--orange);
    text-decoration: none;
    align-self: flex-start;
}

.container hr {
    width: 100%;
    border: 1px solid var(--orange);
}

#shark {
    position: absolute;
    width: 50%;
    top: 60%;
    animation: shark 25s linear infinite;
    opacity: 0.6;
}

#fish {
    position: absolute;
    width: 20%;
    top: 13%;
    animation: fish 25s linear infinite;
    opacity: 0.6;
}

#anglerfish {
    position: absolute;
    width: 10%;
    top: 38%;
    animation: shark 20s linear infinite;
    opacity: 0.6;
}

@keyframes shark
{
    from {
        right: -600px;
    }
    to {
        right: 99%;
    }
}

@keyframes fish
{
    from {
        left: -600px;
    }
    to {
        left: 99%;
    }
}

#bubble-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* So it doesn't interfere with clicks */
    overflow: hidden;
    z-index: -1; /* Keeps it in the background */
}

.bubble {
    position: absolute;
    bottom: 0;
    width: 256px;
    height: 256px;
    opacity: 0.4;
    animation: rise 10s forwards;
}

@keyframes rise {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0.4;
    }
    100% {
        transform: translateY(-100vh) scale(1.2);
        opacity: 0;
    }
}

.project-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin-bottom: 25px;
}

.project-item img {
    width: 50%;
    margin-right: 25px;
}

.project-desc {
    width: 30%;
}

.project-desc a {
    color: var(--coral-blue);
    text-decoration: none;
}